# This is Git's per-user configuration file.
[core]
	pager = delta
[delta]
	side-by-side = true
[pager]
	branch = false
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Angelo Cordon
	email = angelocordon@gmail.com
